*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #004044;
    font-family: 'Lato', 'Arial', sans-serif;
    background: rgb(32, 33, 36);
}
ul{
    list-style: none;
}

a{
    color: #2c3e50;
    text-decoration: none;
}
.container{
    display: flex;
    width: 100vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    background-color: #004044;
   
}
.content{
    display: flex;
    position: relative;
}

.book{
    position: relative;
    width: 350px;
    height: 470px;
    perspective: 1000px;
    transform-style: preserve-3d;
   
}

.frontcover img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}



.front li {
    background: #00595D;
    border-radius: 10px;
    border: solid rgba(0, 0, 0, 0.306) .1px;
}
.back li {
    border-radius: 10px;
    width: 97.5% !important;
    background: #007e85;
}
.page-principal {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-principal img{
    border: solid red 1px;
    backface-visibility: hidden;
    /* background-color: #34495e; */
    transform:rotateY(180deg);
}
.page > li{
    
    background-color: white;

    box-shadow: inset 0px -1px 2px rgb(50, 50, 50, 0.1),
        inset 0px -1px 2px rgb(150, 150, 150, 0.2);
    border-radius: 0px 5px 5px 0px;
    width: 100%;
    height: 100%;
    
    transform-origin: left center;
}

.front{
    transform: rotateY(-35deg) translateZ(43px) translateX(28px);

}
.back{
    transform: rotateY(-180deg)translateX(180px);;
    left: 50%;
}
/* folhas que se move as 3 primeiras */
.folha01{
    transform: rotateY(-28deg)translateZ(22px);
}
.folha02{
    transform: rotateY(-29deg)translateZ(25px);
}
.folha03{
    transform: rotateY(-30deg)translateZ(29px);
}

/* .folha04{
    transform: rotateY(-27deg)translateZ(-15px);
} */
/* .folha04-back{
    transform: rotateY(-29deg)translateZ(5px);
} */

.folha5{
    transform: rotateY(-38deg) translateZ(-25px) translateX(48px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.folha6{
    transform: rotateY(-39deg)translateZ(-10px)translateX(44px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.folha7{
    transform: rotateY(-40deg)translateZ(5px)translateX(40px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.folha8{
    transform: rotateY(-29deg)translateZ(0px);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .folha9{
    transform: rotateY(-28deg)translateZ(0px);
    display: flex;
    align-items: center;
    justify-content: center;
} */


.front,
.back,
.front li,
.back li{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    
}

.front,
.back{
    transform-origin: 0% 100%;
}
.front{
    transition: all 0.8s ease , z-index 0.6s
}

.front li:last-child{
    transform: rotateY(180deg) translateZ(2px);
    
}

.page,
.page > li {
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease , z-index 0.5s;
    padding: 1rem;
    
}
.page{
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 8%;
}

.page li {
    transition-duration: 0.6;
    border: solid rgba(0, 0, 0, 0.306) .1px;
}

.open-front {
    transform:rotateY(180deg)translateX(-180px);
    left: 7%;
    transition: .8s;
}
.open-folha01{
    transform: rotateY(180deg)translateX(-180px);;
    left: 8%;
    transform-origin: 0%;
    transition: 1.4s;
}
.open-folha02{
    transform:rotateY(180deg)translateX(-180px); ;
    left: 9%;
    transform-origin: 0%;
    transition: 1.6s;
}

.open-folha03{
    transform: rotateY(180deg)translateX(-180px); ;
    left: 12%;
    transform-origin: 0%;
    transition: 1.9s;
}



.open-folha04{
    transform: rotateY(180deg)translateX(-180px);;
    transform-origin: 0%;
    transition: 2.2s;
}
.open-folha5{
    transform: rotateY(-6deg)translateZ(10px)translateX(-5px);
    transform-origin: 0%;
    transition: 1.8s;
}

.open-folh5{
    transform: rotateY(0deg)translateZ(-34px)translateX(-15px) ;
    left: 12%;
    transform-origin: 0%;
    transition: .5s;
}

.open-folha6{
    transform: rotateY(0deg)translateZ(-18px)translateX(-10px);
    transform-origin: 0%;
    transition: .5s;
}
.open-folha7{
    transform: rotateY(0deg)translateZ(-18px)translateX(-10px);
    transform-origin: 0%;
    transition: .5s;
}
.open-folha8{
    transform: rotateY(-6deg)translateZ(-18px)translateX(-10px);
    transform-origin: 0%;
    transition: .5s;
}

.move-book{
    transform: translateX(50%);
    /* transition: 1s; */
    transition-duration: 1s;
}

.red{
    color: red;
}

.frontcover {
    position: absolute;
    display: flex;
    text-align: center;
    background: #00595D;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    height: 100%;
    width: 101%;
    border-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

h2{
    position: absolute;
    color: white;
}

.main-page{
    border: solid 1px red;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: .5rem;
    justify-content: flex-start;
    background: #00595D;
    
}

