*{
    list-style: none;
    box-sizing: border-box;
}

.container{
    display: flex;
    min-height: 65vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #004044;
    color: white;
}

.container-card{
    min-width: 300px;
    height: 400px;
    border-radius: 1rem;
    margin: 1rem;
    background-repeat: no-repeat;
    background-image: url(../../imagens/map\ do\ brasil-transparent02.png);
    background-size:100%;
    background-position: .1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.035);
}
.title-estado{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card-content{
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 75%;
    gap: 5px;
   
}
.card-content li{
    display: flex;
    
}

.card-footer{
    height: 6%;
    border-radius:0 0 1rem 1rem ;
    
    background: #117853;
}