.container-front-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.077);
    backdrop-filter: blur( 13.5px ); */
}

h3{
    color: red;
}